.Blogfield{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    max-height: 60%;

.blogform{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 60%;
    justify-content: center;
    padding: 40px;
}
}
