
.Blogfield
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    max-height: 60%;

.blogform{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 60%;
    justify-content: center;
    padding: 40px;
}
.markdown-clearfloat{
    height: 100vh;
    width: 100vh;
    border: 1px solid black;
}
.blog_publish{
    color: whitesmoke;
    background: black;
    border-radius: 50px;
    width: 20%;
    height: 10%;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 15px auto 0px auto;
    
}
.blog_publish:hover{
    
    transform: scale(1.02);
}
}
